body {
  background-color: chocolate;
}
.App {
  text-align: center;
  align-content: center;
  position: fixed;
  margin: 25%;
  width: 50%;
}

.App-header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  color: white;
}

.App-intro {
  width: 100%;
  font-size: large;
}
#login {
  width: 96%;
  padding: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
